/* ------------------------ General ------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;400;700&display=swap');

:root {
    --tealBlue: #114659;
    --puertoRico: #54bcab;
    --swansDown: #dcf0ed;
    --pastelOrange: #f9b348;
}

* {
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: var(--swansDown) !important;
}

h2 {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 200;
}

h2:before, 
h2:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

h2:before {
    margin-right: 20px;
}

h2:after {
    margin-left: 20px;
}

p {
    font-size: 16px;
}

h2, h5, p {
    color: var(--tealBlue) !important;
}

a {
    text-decoration: none !important;
}

li {
    list-style-type:none !important; 
}

/* ------------------------ Hero ------------------------ */
.hero {
    position: relative;
    background-color: var(--tealBlue);
    z-index: -1;
    margin-bottom: 50px;
}

.hero:before {
    content: '';
    position: absolute;
    left: 0;
    top: 58%;
    overflow: visible;
    width: 100%;
    height: 500px;
    background: var(--swansDown);
    z-index: -1;
    -webkit-transform: skewY(-16deg);
    -moz-transform: skewY(-16deg);
    -ms-transform: skewY(-16deg);
    -o-transform: skewY(-16deg);
    transform: skewY(-16deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px !important;
}

.hero-text h1,
.hero-text p {
    color: #fff !important;
}

.hero img {
    scale: 0.75
}

/* ------------------------ Team Sections ------------------------ */

.underTitle {
    border: 2px solid var(--pastelOrange);
    opacity: 1 !important;
    max-width: 10rem;
}

.section-title {
    margin-bottom: 30px;
}

.span {
    background-color: blue !important;
}

.team {
    margin-top:40px;
}


/* -------------- Main Cards -------------- */

.card-box {
    
    margin:20px auto;
    min-width: 15rem;
}
.card {
    background-color: var(--swansDown) !important;
    margin: auto;
    width:15rem !important;
    border: none !important;
} 

.card-body {
    padding: 0.75rem 0 !important;
    margin-left: 1.2rem !important;
}

.card img {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    height: 200px;
    margin: auto;
    object-fit: cover;
    width: 200px; 
}

/* -------------- Team Cards -------------- */
.team-card {
    max-width: 200px;
    background-color: #fff !important;
    margin: auto;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-top: 8px solid #54bcab !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.team-card img {
    height: 160px;
    width: 160px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: none;
}

@media (min-width: 768px) {
    .team-card,
    .carousel-control-next-icon {
        margin-left: 20px !important;
    }
}

/* -------------- Carousel -------------- */
.carousel-item {
    display: flex;
}

.carousel-item > .row > .card {
    margin: 0px;
}

.getintouch-sec { 
    display:block;
}

#myCarousel {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  @media (min-width: 768px) {
      .carousel-control-prev {
        margin-left: -80px;
        color: black;
      }
      
      .carousel-control-next {
        margin-right: -80px;
      }
  }  

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23114659' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23114659' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* ------------------------ From main CSS File once live ------------------------ */
#footer {
    background-color: #124559;
    padding-top: 84px;
    color: #fff;
    position: relative;
    z-index: 10000;
    margin-top: 80px;
}
#footer a {
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 18px;
}
#footer a:hover {
    color:#f15a25;
}

#footer p {
    font-size:15px; 
    letter-spacing: 0.2px; 
    line-height: 22px;
}
.logo-footer { 
    margin-bottom:25px;
}	
.left-footer {
    display:inline-block;
    float:left;
    margin-top: -41px;
}

.right-footer {
    display:inline-block;
    float:right;
    padding-top:25px; 
    margin-right: 36px;  
    margin-top: -41px;
}

#footer ul li {
    color: #fff; 
    margin-bottom:2px;
    font-size: 13px;
}

#footer span {
    margin-bottom: 13px;
    font-size: 16px; 
    font-weight: bold;
    display: inline-block;
    margin-top: 9px;
}
